
#content{
	position:fixed;
	height:80%;
	width:100%;
	top:12%;
}
/* Header */
#head { 
	background:#181015 url( ../img/1.jpg) no-repeat; 
	background-size: cover; 
	min-height:550px; 
	text-align: center; 
	padding-top:200px;
	color:white;
	font-family:"Open sans", Helvetica, Arial; 
	font-weight:300; 
	/*margin-top: 100px;
	height:20%;*/
	position:fixed;
	height:80%;
	width:100%;
}

#head.secondary { 
	/*height:100px; */
	min-height: 0px; 
	padding-top:0px; 
}
#head .lead { 
	font-family:"Open sans", Helvetica, Arial;
	font-size:44px; 
	margin-bottom:6px; 
	color:white; 
	line-height:1.15em; 
} 

iframe{
	position:fixed;
	height:50%;
	width:50%;
    margin-top: -30px;

}
/*#head .tagline { 
	color:rgba(255,255,255,0.75); 
	margin-bottom:25px; 
}


#head .tagline a { color:#fff; } 
#head .btn { margin-bottom:10px;}
#head .btn-default { text-shadow: none; background:transparent; color:rgba(255,255,255,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); background: transparent; }
#head .btn-default:hover,
#head .btn-default:focus { color:rgba(255,255,255,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); background: transparent; }
#head .btn-default:active, 
#head .btn-default.active { color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; -moz-box-shadow:inset 0px 0px 0px 3px #fff; box-shadow:inset 0px 0px 0px 3px #fff; background: transparent; }*/

@media (max-width: 767px) {
	#head { min-height:420px; padding-top:160px; }
	#head .lead { font-size: 40px; }
}

li{
	margin-bottom: 10px;
}
a{
	text-decoration:none;
	color:blue;
}

/* Autohide navbar */
.slideUp { top:-100px; }
.headroom { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }

h1, h2, h3, h4, h5, h6 { font-family:"Open sans", Helvetica, Arial; }
h1, .h1, h2, .h2, h3, .h3 { margin-top:30px; } 
blockquote { font-style: italic; font-family: Georgia; color:#999; margin:30px 0 30px; }
label { color: #777; }

ul.list-spaces li{ margin-bottom:10px; }

.sidebar { padding-top:36px; padding-bottom:30px; }
.sidebar .widget { margin-bottom:20px; }
.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3 { margin-top:20px; } 

.maincontent { }

#footer{
	position:fixed;
	bottom:0%;
	width:100%;
	height:20%;
	
}

.footer1 { background: #232323;  font-size: 12px; color: #999; }
.footer1 a { color: #ccc; }
.footer1 a:hover {color: #fff; }
.footer1 .widget { margin-bottom:14px; }		
.footer1 .widget-title { font-size: 30px; font-weight: bold; color: #ccc; margin: 5px 0 0; }

.follow-me-icons { font-size:30px; }		
.follow-me-icons i { float:left; margin:0 30px 0 0; }			

.footer2 { background: #191919; padding: 15px 0; color: #777; font-size: 12px; }
.footer2 a { color: #aaa; }
.footer2 a:hover { color: #fff; }
.footer2 p { margin: 0; }

.widget-simplenav { margin-left:-5px; }		
.widget-simplenav a{ margin:0 5px; }		
